{% from 'msg.jinja' import display_msg %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/messages.css">
    <script src="/static/msg.js"></script>
    <title>畢業紀念品投票</title>
</head>

<body>
    <div class="container">
        <div id="messages">{{ display_msg(messages) }}</div>
    </div>
</body>

</html>