<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>師大附中畢業紀念品投票</title>
</head>

<body>
    <div class="container">
        <h1>師大附中畢業紀念品投票</h1>
        <div>
            <p>各位附中生好! 以下為附中第 81 屆畢業紀念品的投票規定：</p>
            <p>1.投票之前請輸入學號及班級，我們僅會將之用於排除重複投票之用途，若有重複投票的情形，會以最後投的一次計票。</p>
            <p>2.投票時間自 5/30 (日) 到 6/1 (一)，請大家把握時間。</p>
            <p>3.每個品項都有固定的對應設計分別標號 A、B... 一個品項僅能投一票，請將喜歡的設計的編號選在該品項頁最下方的欄位。</p>
            <p>4.最後每個以各品項得票數最高者當選，若出現相同樣式在不同品項都得到最高票的狀況，擇票數最高者當選，其餘由票數第二、三..高者依次替補。</p>
            <p>5.若看到「您已完成投票」頁面，則表示投票已經成功。</p>
            <p>6.若有任何疑問，請私訊畢聯會 IG 粉專：<a href="https://www.instagram.com/hsnu_hgc_81st_0319/"
                    target="_blank">hsnu_hgc_81st_0319</a>，或詢問貴班畢代/班代。</p>
            <br>
            <p>- 附中畢聯會 81st 感謝大家的參與!</p>
        </div>
        <a href="/personal_data" id="start_button">開始</a>
    </div>
</body>

</html>